<!DOCTYPE html>
<html>

<head>
    <title>Productos</title>
</head>

<body>
    <h1>Listado de Productos</h1>
    <ul>
        {{#each products}}
        <li>{{this.title}}</li>
        {{/each}}
    </ul>
</body>

</html>